page-signin-bhalf {

}
#content-body{
  background-image:url('../assets/images/body_bg.jpg');
  background-size:cover;
}
page-signin {

}
#content-body{
  background-image:url('../assets/images/body_bg.jpg');
  background-size:cover;
}
[text-color="my-custom-color"] {
    color: white;
}