page-signin-bhalf {
font-size:14px;
	font-family: "Nanum Gothic", sans-serif;	
}

#content-body{
  background-image:url('../assets/images/body_bg.jpg');
  background-size:cover;
  height:100%;
}

.title{color:white; font-weight:bold;}



.id{margin-top:5%;}
.pw{margin-top:1%;}

/*.custom-icon{color:#431922;}*/

/*forget password*/
.find-pw{color:white; }

/*login btn*/
.login{background-color:#431922;color:white; height:50px; margin-top:5%;}