<ion-header>

  <ion-navbar>

  <button ion-button menuToggle="user-menu">
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>

    <ion-item detail-none no-lines color="transparent" *ngIf="user; else titleTemplate">
      <ion-avatar item-left>
        <img [src]="recipient.photo || 'assets/images/no-photo.jpg'">
      </ion-avatar>
      {{ pageTitle }}
    </ion-item>

    <ng-template #titleTemplate>
      {{ pageTitle }}
    </ng-template>

  </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <message-box *ngFor="let m of messages | async" [message]="m" [isFromSender]="(m.senderId === sender.$key)"></message-box>

</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-item *ngIf="imgChat" style="text-align: center">
      <item-img class="item-img" [itemImg]="imgurl" ></item-img>
    </ion-item>
    <ion-item no-lines>
      <button ion-button item-left (click)="sendImage(); " style="display: inline-block">
        <ion-icon name="add"></ion-icon>
      </button>
      <ion-item style="display:inline-block">
        <ion-input type="text" (keyup.enter)="sendMessage(newMessage); newMessage=''" placeholder="Message..." [(ngModel)]="newMessage"></ion-input>
      </ion-item>
      <button ion-button item-right (click)="sendMessage(newMessage); newMessage=''" style="display: inline-block;">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>

</ion-footer>
