<ion-header>
  <ion-navbar>
  <button ion-button menuToggle="user-menu">
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>

    <ion-item detail-none no-lines color="transparent" *ngIf="user; else titleTemplate">
      <ion-avatar item-left>
        <img [src]="recipient.photo || 'assets/images/no-photo.jpg'">
      </ion-avatar>
      {{ pageTitle }}
    </ion-item>

    <ng-template #titleTemplate>
      {{ pageTitle }}
    </ng-template>

  </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <message-box *ngFor="let m of messages | async" [message]="m" [isFromSender]="(m.userId === sender.$key)"></message-box>

</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-item no-lines>
      <ion-input type="text" (keyup.enter)="sendMessage(newMessage); newMessage=''" placeholder="Message..." [(ngModel)]="newMessage"></ion-input>
      <button ion-button item-right (click)="sendMessage(newMessage); newMessage=''">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>

</ion-footer>
