answerComment-box{

    margin-bottom: 1px;

    .text {
        color: #808080;
        p {
            font-size: 0.6em;
            margin: 0;
        }
        p.timestamp,p.addComment {
            font-size: 0.4em;
            color: #808080;
        }

    }

}
