<ion-content>

  <user-info [user]="currentUser" [isMenu]="true"></user-info>

  <ion-list no-lines>
    <button ion-item detail-none menuClose="user-menu" (click)="onProfile()">
      PROFILE
    </button>
    <button ion-item detail-none menuClose="user-menu" (click)="onOrderlist()">
      ORDER LIST
    </button>
    <button ion-item detail-none menuClose="user-menu" (click)="onLogout()">
      LOGOUT
    </button>
    <button ion-item detail-none menuClose="user-menu" (click)="onChat()">
      CHATTING
    </button>
    <button ion-item detail-none menuClose="user-menu" (click)="onUser()">
      USER
    </button>
      <button ion-item detail-none menuClose="user-menu" (click)="onOutLet()">
      OUTLET
    </button>
  </ion-list>

</ion-content>
